<script>
	const imp = {
		prefix: [
			"Aba", "Az", "Bel", "Biz", "Cho", "Dag", "Gak", "Gar", "Gel", "Gob", "Jak", "Jub", "Kar", "Kup", "Laz", "Nal", "Nok", "Pag", "Pip", "Piz", "Quz", "Rul", "Rup", "Tar", "Vol", "Yar", "Yaz", "Zep", "Zig", "Zil", "Zor"
		],
		suffix: [
			"bis", "fip", "gup", "ham", "jub", "kin", "kol", "lop", "loz", "mat", "mir", "nam", "nar", "nik", "nip", "pad", "pep", "pit", "qua", "rin", "rot", "tai", "tal", "tik", "tip", "tog", "tuk", "uri", "yal", "yap"
		]
	}
	
	const voidwalker = {
		prefix: ["Bar", "Bel", "Char", "Grak'", "Graz'", "Grim", "Hath", "Hel", "Huk", "Jhaz", "Jhom", "Juk", "Kal'", "Klath", "Kon", "Krak", "Krag", "Mak", "Mezz", "Orm", "Phan", "Sar", "Tang", "Than", "Thog", "Thok", "Zag'", "Zang", "Zhar'"],
		suffix: ["dok", "gak", "garth", "gore", "gorg", "grave", "gron", "juk", "kath", "krast", "kresh", "krit", "los", "mon", "moth", "nagma", "nak", "nar", "nos", "nuz", "phog", "rath", "tast", "taz", "thak", "thang", "thyk", "vhug", "zazt"]
	}
	
	const succubus = {
		prefix: ["Ael", "Aez", "An", "Ang", "Ann", "Bet", "Bron", "Bronri", "Bry", "Carr", "Catt", "Dar", "Dis", "Dom", "Drus", "Eler", "Fier", "Glyn", "Hel", "Hes", "Jhor", "Kal", "Lyn", "Mir", "Naz", "Nim", "Sar", "Sel", "Sy", "Vil", "Zah"],
		suffix: ["aith", "ana", "anda", "antia", "esta", "eth", "evere", "ina", "lia", "lissa", "lith", "na", "neri", "neth", "ney", "nia", "nva", "nys", "ona", "ora", "rah", "riana", "rida", "riel", "tai", "thea", "thun", "va", "vina", "wen", "wena", "wyn", "xia", "yla", "ynn", "zola"]
	}
	
	const felhunter = {
		prefix: ["Bhee", "Bruu", "Czaa", "Droo", "Flaa", "Fzuu", "Gree", "Ghaa", "Gzaa", "Haa", "Jhaa", "Jhuu", "Khaa", "Khii", "Khuu", "Kree", "Luu", "Maa", "Nhee", "Phuu", "Pryy", "Rhuu", "Shaa", "Sloo", "Sruu", "Thoo", "Traa",  "Wraa", "Zhaa"],
		suffix: ["dhon", "dhum", "dhun", "dom", "drom", "dym", "fen", "fenn", "fum", "fun", "fuun", "ghon", "ghun", "grom", "grym", "jhom", "kun", "lum", "mon", "myn", "nam", "nhym", "nom", "num", "phom", "roon", "shon", "thun", "thuun", "tom", "zhem", "zun", "zuum"]
	}
	
	const felguard = {
		prefix: ["Akin", "Akra", "Blag", "Bleek", "Chinil", "Erak", "Flaa", "Haa", "Ikzil", "Izik", "Jhuu", "Kee", "Kir", "Klek", "Koul", "Kren", "Krim", "Leesh", "Neel", "Okin", "Orik", "Rinn", "Rivin", "Shaa", "Skel", "Skree", "Skurik", "Thoo", "Vazeel", "Vee", "Vinik", "Zerik", "Zilik", "Zuril"],
		suffix: ["Ashak", "dhun", "Faran", "Fazag", "Feril", "ghun", "Goril", "Gozin", "Kazul", "Kilig", "Korak", "Korill", "Krill", "Kryz", "Maal", "Minul", "Nash", "Nixx", "Raksha", "Rike", "roon", "Shak", "Shekor", "Shok", "Shokin", "Shril", "thun", "tom", "Vazin", "Vazul", "Vegen", "Zekeel", "Zeras", "Zinul", "Zugul"]
	}
	
	const getRandomName = (prefixes, suffixes, middle='') => {
		const randomPrefix = Math.floor(Math.random() * prefixes.length)
		const randomSuffix = Math.floor(Math.random() * suffixes.length)
		return `${prefixes[randomPrefix]}${middle}${suffixes[randomSuffix]}`
	}
	
	let impName = ''
	let voidwalkerName =  ''
	let succubusName = ''
	let felhunterName = ''
	let felguardName = ''
	
	const generate = () => {
		impName = getRandomName(imp.prefix, imp.suffix)
		voidwalkerName =  getRandomName(voidwalker.prefix, voidwalker.suffix)
		succubusName = getRandomName(succubus.prefix, succubus.suffix)
		felhunterName = getRandomName(felhunter.prefix, felhunter.suffix)
		felguardName = getRandomName(felguard.prefix, felguard.suffix, '-')
	}
	
	generate()
</script>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

	.container {
		display: grid;
		grid-template-columns: repeat(3, auto);
		place-content: center center;
		gap: 1em;
	}
	.container > div {
		display: grid;
		place-items: center center;
	}
	.container > div > img{
		width: 180px;
		height: 280px;
		object-fit: cover;
	}
		.container > div > p {
		position: absolute;
		margin-bottom: 260px;
			color: lime;
			font-size: 1.5em;
			font-weight: 600;
			text-align: center;
	}
	.container > div > p:before {
		content: "<"
	}
	
	.container > div > p:after {
		content: ">"
	}

</style>
<div class="wrapper">

<header>
	<h1>WoW Classic Demon Names</h1>
</header>
<main>

<p class="center"> 
	There is no known way to change your demon name(s) in WoW Classic (or TBC Classic). <br/> This page is just for fun to show what you <i>could</i> get.
</p>

<div class="container">
<div>
	<img src="imp.jpg" alt="Imp" /> 
	<p>{impName} </p>
</div>
<div>
	<img src="voidwalker.jpg" alt="Voidwalker" /> 
	<p>{voidwalkerName} </p>
</div>
<div>
	<img src="succubus.png" alt="Succubus" /> 
	<p>{succubusName} </p>
</div>
<div>
	<img src="felhunter.jpg" alt="Felhunter" /> 
		<p>{felhunterName} </p>
</div>
	<div>
	<img src="felguard.jpg" alt="Felguard" /> 
		<p>{felguardName} </p>
</div>
<div>
	<button on:click={generate}>
	Generate
</button>
</div>
</div>
</main>
<footer>
	This project is made with <img src="svelte.png" width="16" height="16" alt="svelte"/> Svelte and hosted on <img src="gitlab.png" width="16" height="16" alt="gitlab" target="_blank" /> <a href="https://gitlab.com/hglbrg/demon-names">gitlab</a>.
</footer>
	
</div>
  